
        
        @font-face {
            font-family: 'myfont';
            src: url('fonts/a.otf');
            font-weight: bold;
        }
        @font-face {
            font-family: 'myfont2';
            src: url('fonts/d.ttf');
            font-weight: bold;
        }
		* {
			margin: 0;
			padding: 0;
			font-family: 'myfont', sans-serif;
		}
		
		/* Sticky header navbar */
	
        li {
    list-style: none;
    padding: .2vh;
}
html {
 
  
}
main{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    
}
h2{
    color: #ffffff;
}
p{
    color: #ffffff;
}
.header{
    border-bottom: 1px solid transparent;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 5vh;
    mix-blend-mode: exclusion;
    transition: all 2s ease;
    
}
.header2{
    border-bottom: 1px solid transparent;
    background-color: transparent;
    background-image: url(/myweb/images/noise2.gif);
    position: sticky;
    top: 0;
    z-index: 999;
    height: 5vh;
    transition: all 2s ease;
    opacity: 99%;
    
}
.header3{
    border-bottom: 1px solid transparent;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 5vh;
    transition: all 2s ease;
    
    
}



.change-color {
    border-bottom: 1px solid black;
    background-color: black;
    mix-blend-mode: normal;
}
.change-color2 {
  color: white;
  mix-blend-mode: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: .5rem 0rem 0rem 5rem; */
    padding-left: 2%;
    padding-right: 2%;
    height: 2.5vw;
    
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display:inline-flex;
    justify-content: space-around;
    align-items: center;
   
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 500;
   
  
    color: #fff;
    z-index: 1;
     mix-blend-mode:exclusion;
}

.nav-link:hover{
   
}

.nav-logo {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'myfont2';
    
  color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
}

	
		
		
	
	
	
		/* Video background */
		.video-container {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			z-index: -1;
		}
		
		  video {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
        .noise{
            background: black;
            background-image: url(/myweb/images/noise2.gif);
            z-index: 1;
            opacity: 99%;

        }
        .noise2{
            background: black;
            background-image: url(/myweb/images/noise2.gif);
            z-index: 1;
            opacity: 100%;

        }
		/* Content */
		 .content {
            width: 100vw;
    height: 100vh;
    
    
		}
         .content:target{
            left: 0vw;
    z-index: 1;
        }

		
		 .content h2 {
			font-size: 3vh;
			margin-bottom: 20px;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
		}
		
		 .content p {
			font-size: 18px;
			line-height: 1;
			
		}
           .content ul{
            position: relative;
            font-size: .8vw;
           
            /* text-shadow: 0 5px 10px rgba(0, 0, 0, 1); */
  color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
        }
             .marr{
            width: 80%;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion; 
        }
       
            h2, .marr {
			display:inline-block;
            vertical-align:top;
            margin-top: 4.1vh;
            
		}
           #p1{
            /* padding-top: 280px;
            padding-right: 960px; */
            text-align: left;
            margin-top: 65vh;
            margin-left: 2%;
            font-weight: 100;
  /* font: -30 35vmin/50vh arial; */
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
        
        }
          #p2{
            margin-left: 2%;
            
             font-size: 4.9vw; 
            text-align: left;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
            color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
           
            
  /* filter: drop-shadow(0.05em 0.05em orange); */
  font-weight: 900;
        }
            #p3{
            margin-left: 2%;
             font-size: 4.9vw;
            text-align: left;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
            color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
  
  font-weight: 900;
  
        }
           #p4{
            margin-left: 2%;
             
             text-align: left;
             text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
            color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
   margin-left: 11vw;
    margin-top: 20px;
    font-weight: 900;
    
         }
      
            #p5{
           
            margin-left: 2%;
          font-size: .8vw;
            /* padding-top: 280px;
            padding-right: 960px; */
            text-align: left;
            
            color: white;
            font-weight: 100;
  /* font: -30 35vmin/50vh arial; */
  
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
            color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
        
        }
          #p6{
            margin-left: 2%;
             font-size: 1.5vw; 
            text-align: left;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
            color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
  font-weight: 900;
        }
          #p7{
             font-size: 60px;
            text-align: left;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
            color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
  font-weight: 900;
  
        }
          #p8{
             
             text-align: left;
             text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
            color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
   margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 15%;
    font-weight: 900;
         }
         
         .reveal{
  /* position: relative; */
  transform: translateY(150px);
  opacity: 0;
  transition: 3s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
html{
    scroll-behavior:smooth;
}

 .child {
  display: inline-block;
  border: 1px solid transparent;
  padding: 1rem 1rem;
  margin-right: 3vw;

}
.aa{
    height: 20vh;
}
.parent {
    border: 1px solid transparent;
    margin-left: 1.2%;
  
    
    text-align: left;
  }
.bb{
    height: 3vh;
}
.child h2{
    font-size: 2.5vh;
}
.child ul li{
    color: gray;
}

       @media only screen and (min-width: 1900px) {
        .parent {
            border: 1px solid transparent;
            margin-left: 1.2%;
            /* margin-bottom: 2vh; */
            
            text-align: left;
          }

        
       }
        @media only screen and (max-width: 768px) {
    .nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
}
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        /* background-color: #fff; */
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        background-color: #ffffff;
        
    }
      .content h2 {
				font-size: 28px;
			}
			
			 .content p {
				font-size: 16px;
			}
            .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
      #p1{
            /* padding-top: 280px;
            padding-right: 960px; */
            text-align: left;
            margin-top: 100%;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
            color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
  
        
        }
          #p2{
             font-size: 30px; 
            text-align: left;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
            color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
        }
           #p3{
             font-size: 30px;
            text-align: left;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
            color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
        }
          #p4{
             
            text-align: left;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
            color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
        }
          #p5{
            /* padding-top: 280px;
            padding-right: 960px; */
            text-align: left;
            margin-top: 100%;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
            color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
  
        
        }
          #p6{
             font-size: 30px; 
            text-align: left;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
            color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
        }
          #p7{
             font-size: 30px;
            text-align: left;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
            color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
        }
         #p8{
             
            text-align: left;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
            color: #fff;
           z-index: 1;
            mix-blend-mode:exclusion;
        }
        .content div{
            z-index: 1;
        }

}
